<!DOCTYPE html>
<html>
<head>
    <title>Log Query</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        input, button {
            margin: 10px;
        }
        #result {
            margin-top: 20px;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Log Query</h1>
    <form>
        <label for="logFileName">Select Log File:</label>
        <select name="logFileName" id="logFileName">
            <option value="">Select Log File</option>
            <% for (let i = 0; i < logFileNames.length; i++) { %>
                <option value="<%= logFileNames[i] %>"><%= logFileNames[i] %></option>
            <% } %>
        </select>
        <br>
        <label for="logLevel">Log Level:</label>
        <input type="text" name="logLevel" id="logLevel" placeholder="Log Level">
        <br>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" placeholder="Message">
        <br>
        <label for="timestamp">Timestamp:</label>
        <input type="text" name="timestamp" id="timestamp" placeholder="Timestamp">
        <br>
        <label for="searchBy">Search By:</label>
        <select name="searchBy" id="searchBy">
            <option value="bymessage">By Message</option>
            <option value="bylevel">By Level</option>
            <option value="bytimestamp">By Timestamp</option>
        </select>
        <br>
        <button type="button" onclick="queryLogs()">Query</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Log</th>
                <th>Timestamp</th>
                <th>Log Level</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="result">
            <!-- This section will be populated with query results -->
        </tbody>
    </table>

    <script>
        function queryLogs() {
            const logFileName = document.getElementById('logFileName').value;
            const logLevel = document.getElementById('logLevel').value;
            const message = document.getElementById('message').value;
            const timestamp = document.getElementById('timestamp').value;
            const searchBy = document.getElementById('searchBy').value;
            const resultDiv = document.getElementById('result');
            const resultTableBody = document.getElementById('result');
            let query = '/logs?';
            if (logFileName) {
                query += `logFileName=${logFileName}`;
            } else {
                resultDiv.innerHTML = 'Please select a Log File';
                return;
            }
            if (logLevel) {
                query += `&logLevel=${logLevel}`;
            } else if (message) {
                query += `&message=${message}&timestamp=${timestamp}`;
            } else if (timestamp) {
                query += `&timestamp=${timestamp}`;
            }
            query+=`&searchBy=${searchBy}`;

            fetch(query)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    resultTableBody.innerHTML = createTable(data, logFileName);
                })
                .catch((error) => {
                    resultTableBody.innerHTML = 'Error: ' + error;
                });
        }

        function createTable(data, logFileName) {
            let tableHtml = '';
            
            const searchBy = document.getElementById('searchBy').value;
           var parts; 
            for (const key in data) {
                parts = data[key].split(' ');
            if (parts.length >= 3) {
                const timestamp = parts[0] + ' ' + parts[1];
                const logLevel = parts[2].slice(0, -1);
                const message = parts.slice(3).join(' ');

                tableHtml += '<tr>';
                tableHtml += `<td>${logFileName}</td>`;
                tableHtml += `<td>${timestamp}</td>`;
                tableHtml += `<td>${logLevel}</td>`;
                tableHtml += `<td>${message}</td>`;
                tableHtml += '</tr>';
            }
        }
        return tableHtml;
        }
    </script>
</body>
</html>
